@import "styles/variaveis";
@import "styles/breakpoints";



.item {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding: .5rem 1rem;
  border-radius: 15px;
  transition: 0.5s;
  cursor: pointer;
  align-items: center;

  &__imagem {
    min-width: 240px;    
    @media (max-width: $desktop_xsm) {
      width: 100%;
    }
    img {
      border-radius: 8px;
      width: 100%;
      box-shadow: 0 0 10px $cor-destaque;
    }
  }
  &__descricao {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
    @media (max-width: $desktop_xsm) {
      flex-direction: row;
      margin-top: 20px;
      padding: 0;
    }
  }
  &__titulo {
    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p {
      color: $dark-grey;
      font-size: 1.3rem;
      font-weight: 600;
      max-width: 600px;
      margin-bottom: 20px;
    }
  }  
  
  
}
.item:hover{
  transform: scale(1.02);
  box-shadow: 0 0 5px $cor-base;
  background-color: $cor-fundo-grey;
}