$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;

$cor-fundo: #EBEBEB;
    $cor-fundo-grey: #B8B8B8;

$cor-destaque: #6F4A8E;
    $cor-destaque-claro:#CAB4DB;
$cor-base: #221F3B;


$dark: #242536;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;

$fonte-texto:'Italiana', serif;